#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
  

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-col{
  --ion-background-color:#3491cf;
  
}
ion-content{
  
  @media screen and (max-width: 749px) {
    --ion-background-color:#d189e0;
    
    .nombre{
      color: rgb(255, 255, 255);
    }
    
    .texto{
      color:white;
      visibility: hidden; 
    }
    
    .info{
      color:rgb(0, 0, 0);
      
    }
    
    .ciudad{
      color:rgb(255, 255, 255);
      align-content: center;
    }
  }
  @media screen and (min-width: 750px ) {
    --ion-background-color:#4643f3;
    
    .nombre{
      color: rgb(255, 255, 255);
    }
    
    .texto{
      color:white; 
    }
    
    .info{
      color:rgb(0, 0, 0);
      
    }
    
    .ciudad{
      color:rgb(255, 255, 255);
      align-content: center;
    }
  }

  @media screen and (min-width: 1000px) {
    --ion-background-color:#ee8a38;
    
    .nombre{
      color: rgb(255, 255, 255);
    }
    
    .texto{
      color:white; 
    }
    
    .info{
      color:rgb(0, 0, 0);
      
    }
    
    .ciudad{
      color:rgb(255, 255, 255);
      align-content: center;
    }
  }
  
    
    

  }
  
